<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bike Part Picker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/mainstyles.css">
    <link rel="stylesheet" href="static/textstyles.css">
    <link rel="stylesheet" href="static/completedbuildsstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/builderfuncs.js"></script>
</head>

<body>

    <div class="header">
        <headertext>Bike Part Picker</headertext>
        <headertext style="float: right; margin-right: 0.5em;">Hi, {{username}}</headertext>
    </div>

    <div class="lowerheader">
        <form action="builder">
            <input type="submit" class="builder" value="Builder">
        </form>

        <form action="mypartlists">
            <input type="submit" class="mypartlists" value="My Part Lists">
        </form>

        <form action="completedbuilds">
            <input type="submit" class="completedbuilds selectedtab" value="Completed Builds">
        </form>

         <form action="logout">
             <input type="submit" class="logout" value="Logout">
         </form>
    </div>

    <div class="content">
    </div>

</body>
</html>

<script>


</script>