<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bike Part Picker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/mainstyles.css">
    <link rel="stylesheet" href="static/loginsignupstyles.css">
    <link rel="stylesheet" href="static/textstyles.css">
    <script src="static/funcs.js"></script>
</head>

<body>

    <div class="header">
        <headertext>Bike Part Picker</headertext>
    </div>

    <div class="loginsignupbox">

        <toptext>Welcome back!</toptext>

        <form action="/login" method="post">
            <input type="text" class="boxinput" id="email" name="email" placeholder="Email" required=""/>

            <input type="password" class="boxinput" id="password" name="password" placeholder="Password" required=""/>

            <errormsg><span style="color: transparent">-</span>{{loginerror}}<span style="color: transparent">-</span></errormsg>

            <input type="submit" class="submitbutton" value="Sign in">
        </form>

        <form action="signup">
            <input type="submit" class="altoption" value="Don't have an account? Create an account.">
        </form>

    </div>

</body>

</html>


<script>

</script>