<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bike Part Picker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/mainstyles.css">
    <link rel="stylesheet" href="static/textstyles.css">
    <link rel="stylesheet" href="static/mypartlistsstyles.css">
    <script src="static/mypartlistsfuncs.js"></script>
</head>

<body>

    <div class="header">
        <headertext>Bike Part Picker</headertext>
        <headertext style="float: right; margin-right: 0.5em;">Hi, {{username}}</headertext>
    </div>

    <div class="lowerheader">
        <form action="builder">
            <input type="submit" class="builder" value="Builder">
        </form>

        <form action="mypartlists">
            <input type="submit" class="mypartlists selectedtab" value="My Part Lists">
        </form>

        <form action="completedbuilds">
            <input type="submit" class="completedbuilds" value="Completed Builds">
        </form>

        <form action="logout">
            <input type="submit" class="logout" value="Logout">
        </form>
    </div>

    <div class="content">

        <div class="sidebar">
            <div class="subtitle"><u>Your saved lists</u></div>
            <div class="lists">
                {% for i in range(0, listoptions|length) %}
                    <form action="selectlistmypartlists" method="post">
                        {% if listoptions[i][1] == listinfo[1] %}
                            <input type="submit" class="listoption selectedlistoption" name="{{listoptions[i][0]}}" value="→ {{listoptions[i][1]}}">
                        {% else %}
                            <input type="submit" class="listoption" name="{{listoptions[i][0]}}" value="→ {{listoptions[i][1]}}">
                        {% endif %}
                    </form>
                {% endfor %}
                <form action="createlist" method="post">
                    <input type="submit" class="selectbutton" value="Create new list">
                </form>
            </div>
        </div>

        <div class="listinfo">
            <div class="subtitle"><u>Edit list details</u></div>
            <form class="listboxes" action="modifypartlistinfo" method="post">

                <div class="partlistinginfo">Part list name</div>
                <input class="boxinput" type="text" name="listname" placeholder="Your part list name" value="{{listinfo[1]}}">
                <hr>

                <div class="partlistinginfo">Part list description</div>
                <textarea class="boxinput" style="height: 5em" type="text" name="listdescr" placeholder="Your part list description">{{listinfo[4]}}</textarea>
                <hr>

                <div class="partlistinginfo" id="publicorprivtitle">Privacy setting: Private</div>
                <label class="switch" onclick="publicorpriv()">
                    <input type="checkbox" id="publicorpriv" name="publicorpriv" value="private0">
                    <span class="slider round"></span>
                </label>
                <hr>

                <button class="selectbutton" type="submit">Save changes</button>
            </form>

            <form action="deletelist" method="post">
                <button style="margin: auto;" class="selectbutton submitbuttoninvalid" type="submit">Delete this list</button>
            </form>
            <errormsg><span style="color: transparent">-</span>{{listerror}}<span style="color: transparent">-</span></errormsg>

        </div>
    </div>

    <div class="footer" style="position: absolute">
        <footertext>Copyright © Bike Part Picker. All rights reserved.</footertext>
    </div>

</body>
</html>

<script>

    if ({{privacysetting}} === 1) {
        publicorpriv.call(this)
    }

</script>
